.hero {
    padding: 5.6vw;
    position: relative;
    min-height: 100vh;
    min-width: 100%;
    background-image: url(../imagens/hero_batmam_desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    @media (max-width: 768px) {
        min-height: 80vh;
        
    }
    &__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 12px 36px;
    }
    &__content {
        &__branding {
            max-width: 400px;
            margin: 0 auto 10px;
            img {
                background-color: transparent;
            }
        }
    }
}